# Jupyter Notebook Gruppe Tesla/Musk

Teammitglieder: Falk Jaresch, Michael Foeger, Paula Engelberg, Christoph Fink.

#### Rollenaufteilung:

- Datenrecherche und Ideenfindung - Gruppe
- Suche der passenden Datenquellen - Gruppe
- Konvertierung von CSV in RDF - Foeger
- Kombination der Datenquellen und Triple Store implementation - Engelberg
- Anfragen an die Datenquellen - Fink
- Erstellen einer Jekyll Seite - Jaresch

#### Probleme:
Beim Erstellen der Queries für Aktien-Tagespreise an den bestimmten Tagen war es schwierig per Syntax die Formatierung der ersten Spalte (Datum) anzupassen.

#### Reflexion der Techniken in Bezug auf den Technologiestack
-

#### Einverständnis zur Weitergabe erteilt

## Projekt Ausarbeitung

Datenquellen:

- Elon Musk Tweets: https://www.kaggle.com/kulgen/elon-musks-tweets

- Tesla Stock Price: https://www.kaggle.com/rpaguirre/tesla-stock-price

### Import der Datenquelle

In [1]:
from rdflib import Graph
from pandas import DataFrame

### Serialisierung: Parsen von Turtle zu ntriple

In [2]:
g = Graph()
g.parse("tesla.ttl", format="ttl")
g.serialize(destination='tesla.nt', format="ntriples")

In [3]:
g.parse("tweets.ttl", format="ttl")
g.serialize(destination='tweets.nt', format='ntriples')

### Query

In [76]:
result = g.query("""
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>       
PREFIX dbo:  <http://dbpedia.org/ontology/>
PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd:  <http://www.w3.org/2001/XMLSchema#>
PREFIX sioc: <http://rdfs.org/sioc/ns#>
PREFIX dc:   <http://purl.org/dc/elements/1.1/>

SELECT ?date ?close ?content

WHERE {
  ?date ex:close ?close .
  #?created sioc:content ?content .
 }

ORDER BY DESC(?date)
""")

DataFrame(result, columns=result.vars)

                                                   date       close content
0     http://example.org/resource/elonmusk/tesla/9/9...  194.470001    None
1     http://example.org/resource/elonmusk/tesla/9/9...  248.910004    None
2     http://example.org/resource/elonmusk/tesla/9/9...  278.480011    None
3     http://example.org/resource/elonmusk/tesla/9/9...  160.699997    None
4     http://example.org/resource/elonmusk/tesla/9/9...   22.969999    None
...                                                 ...         ...     ...
1687  http://example.org/resource/elonmusk/tesla/1/1...  229.869995    None
1688  http://example.org/resource/elonmusk/tesla/1/1...  145.720001    None
1689  http://example.org/resource/elonmusk/tesla/1/1...   33.529999    None
1690  http://example.org/resource/elonmusk/tesla/1/1...   27.620001    None
1691  http://example.org/resource/elonmusk/tesla/1/1...   28.450001    None

[1692 rows x 3 columns]