# Jupyter Notebook Gruppe Tesla/Musk

Teammitglieder: Falk Jaresch, Michael Foeger, Paula Engelberg, Christoph Fink.

#### Rollenaufteilung:

- Datenrecherche und Ideenfindung - Gruppe
- Suche der passenden Datenquellen - Gruppe
- Konvertierung von CSV in RDF - Foeger
- Kombination der Datenquellen und Triple Store implementation - Engelberg
- Anfragen an die Datenquellen - Fink
- Erstellen einer Jekyll Seite - Jaresch

#### Probleme:
Beim Erstellen der Queries für Aktien-Tagespreise an den bestimmten Tagen war es schwierig per Syntax die Formatierung der ersten Spalte (Datum) anzupassen.

#### Reflexion der Techniken in Bezug auf den Technologiestack
-

#### Einverständnis zur Weitergabe erteilt

## Projekt Ausarbeitung

Datenquellen:

- Elon Musk Tweets: https://www.kaggle.com/kulgen/elon-musks-tweets

- Tesla Stock Price: https://www.kaggle.com/rpaguirre/tesla-stock-price

### Import der Datenquelle

In [1]:
from rdflib import Graph
from pandas import DataFrame

### Serialisierung: Parsen von Turtle zu ntriple

In [2]:
g = Graph()
g.parse("tesla.ttl", format="ttl")
g.serialize(destination='tesla.nt', format="ntriples")

In [3]:
g.parse("tweets.ttl", format="ttl")
g.serialize(destination='tweets.nt', format='ntriples')

### Query

In [4]:
result = g.query("""
PREFIX rdfs: <http://www.w3.org/2000/01/rdf-schema#>       
PREFIX dbo:  <http://dbpedia.org/ontology/>
PREFIX rdf:  <http://www.w3.org/1999/02/22-rdf-syntax-ns#>
PREFIX xsd:  <http://www.w3.org/2001/XMLSchema#>
PREFIX sioc: <http://rdfs.org/sioc/ns#>
PREFIX dc:   <http://purl.org/dc/elements/1.1/>

SELECT ?date ?close ?content

WHERE {
   ?tradingDay ex:close ?close ;
              ex:date ?date .

 }

ORDER BY DESC(?date)
""")

DataFrame(result, columns=result.vars)

                           date       close content
0     2017-01-31T09:00:00+00:00  251.929993    None
1     2017-01-30T09:00:00+00:00  250.630005    None
2     2017-01-28T09:00:00+00:00  249.990005    None
3     2017-01-27T09:00:00+00:00  252.949997    None
4     2017-01-27T09:00:00+00:00  246.229996    None
...                         ...         ...     ...
1684  2009-01-01T09:00:00+00:00   20.450001    None
1685  2009-01-01T09:00:00+00:00        20.6    None
1686  2009-01-01T09:00:00+00:00   34.349998    None
1687  2009-01-01T09:00:00+00:00       21.41    None
1688  2009-01-01T09:00:00+00:00   21.959999    None

[1689 rows x 3 columns]